/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #77AEE6;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    min-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    height: auto;
    min-height: 400px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 255px;
    width: 100%;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}


.valid
{
  background: #55b05a;
  color: white;
}

.invalid
{
  background: #d23d24;
  color: white;
}

.valid-warning
{
  background-color: gold;
  color: black;
}

h2.valid, h2.invalid, h2.valid-warning
{
  text-align: center;
  margin: 0;
  font-size-adjust: .53;
  font-style: normal;
  text-decoration: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
  padding-top: .5em;
  padding-bottom: .5em;
}

.warning
{
  background-color: gold;
  padding: .1em .5em;
  color: black;
  font-size: smaller
}

.error
{
  background-color: #D23D24;
  padding: .1em .5em;
  color: white;
  font-size: smaller
}

.fatal
{
  background-color: #D23D24;
  padding: .1em .5em;
  color: white;
  font-size: smaller
}


code.excerpt
{
  border: 1px solid #eee;
  color: #333;
  background: #f4f8fb;
  font: normal 98%/110% Courier, monospace;
  margin: 0;
  overflow: auto;
  padding: 0px 5px 0px 45px;
}

code.excerpt em
{
  color: red;
  padding-left: .5ex;
  padding-right: .5ex;
  font-weight: bolder;
}


/* XML source code listing */

ol.code
{
  border: 1px solid #eee;
  color: #333;
  font: normal 98%/110% Courier, monospace;
  margin: 0;
  overflow: auto;
  padding: 5px 5px 5px 65px;
}

ol.code li
{
  background-color: #f4f8fb;
  margin: 0;
  padding: 0 5px;
}

ol.code li:hover
{
  background-color: #ffffbb;
  color: #000000;

}

ol.code li.source
{
  background-color: #fff;
  list-style-type: none;
  padding: 5px;
  text-align: center;
}

ol.code li+li, ul.code li+li
{
  margin-top: 2px;
}

ol.code li.tab0  { padding-left:  0px; }
ol.code li.tab1  { padding-left: 15px; }
ol.code li.tab2  { padding-left: 30px; }
ol.code li.tab3  { padding-left: 45px; }
ol.code li.tab4  { padding-left: 60px; }
ol.code li.tab5  { padding-left: 75px; }
ol.code li.tab6  { padding-left: 90px; }
ol.code li.tab7  { padding-left: 105px; }
ol.code li.tab8  { padding-left: 120px; }
ol.code li.tab9  { padding-left: 135px; }
ol.code li.tab10 { padding-left: 150px; }
ol.code li.tab11 { padding-left: 165px; }
ol.code li.tab12 { padding-left: 180px; }
ol.code li.tab13 { padding-left: 195px; }
ol.code li.tab14 { padding-left: 210px; }
ol.code li.tab15 { padding-left: 225px; }

ol.code li code
{
  color: #333;
}

ol.code li span
{
  color: #ff4444;
}




/* TABLE
----------------------------------------------------------*/
table.noborder 
{
    border: none 0px white;
    padding: 5px;
}
td.noborder 
{
    border: none 0px white;
    padding: 5px;
}

table {
    /*border: solid 1px #e8eef4;*/
    border-collapse: collapse;
}

table td {
    padding: 5px;
    /*border: solid 1px #e8eef4;*/
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

/*
.error {
    color: Red;
}
*/
nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
